.hero-section {
  height: 100vh;
  background-image: url('https://w0.peakpx.com/wallpaper/229/876/HD-wallpaper-vibe-night-vibe.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.gallery {
  display: flex;
  overflow: hidden;
  width: 80%;
  margin: 20px auto;
  position: relative;
}

.gallery-images {
  display: flex;
  transition: transform 0.5s ease;
}

.gallery-image {
  min-width: 100%;
  transition: transform 0.5s ease;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}
